<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.thelamppostdev.arduino-daemon</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/arduino-cli</string>
        <string>daemon</string>
    </array>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
    </dict>
    
    <key>StandardOutPath</key>
    <string>/Users/bm0918/Library/Logs/arduino-utility/daemon-stdout.log</string>
    
    <key>StandardErrorPath</key>
    <string>/Users/bm0918/Library/Logs/arduino-utility/daemon-stderr.log</string>
    
    <key>WorkingDirectory</key>
    <string>/usr/local/bin</string>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>NODE_ENV</key>
        <string>production</string>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin</string>
    </dict>
    
    <key>ThrottleInterval</key>
    <integer>10</integer>
    
    <key>UserName</key>
    <string>bm0918</string>
    
    <key>ProcessType</key>
    <string>Interactive</string>
    
</dict>
</plist>